

{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Ajouter une option</h1>
    {{ include ('/admin/choix/_form.html.twig', {form: form, Button: 'Ajouter'}) }}
{% endblock %}