{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1 style=" text-align:center">Bienvenue sur notre site d'gence Immobilière</h1>

    <div style=" text-align:center" >
        <img src="{{ asset('images/properties/gettyimages-956516436-612x612.jpg') }}" alt="image">
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda atque aut debitis delectus distinctio
            dolores et incidunt ipsum iste labore, laboriosam, laudantium nesciunt officiis pariatur perspiciatis
            praesentium quaerat quos ratione sapiente sunt tempore ullam unde veniam voluptates! Ab eius, hic impedit
            laboriosam maxime perspiciatis provident quam rem temporibus voluptate!</p>
        <p>Ab accusamus accusantium ad amet beatae commodi consequuntur culpa dignissimos dolorem dolores dolorum error
            est
            fuga, ipsa magnam maxime minima minus necessitatibus nobis odit provident quasi qui quibusdam quidem
            repellat
            repellendus rerum saepe similique sit tenetur totam veritatis voluptas voluptatibus? Dolor enim error
            excepturi
            harum, impedit iste omnis pariatur quo.</p>
        <p>Accusantium alias eaque earum id illo iste, nostrum quis rerum soluta veritatis! A, aliquam aliquid atque
            aut,
            consequuntur, eaque eos error harum minus mollitia porro quibusdam. Accusamus atque cum cumque debitis
            delectus
            dolorem eius eligendi excepturi exercitationem nobis non odio pariatur perferendis quisquam, ratione
            repudiandae
            similique totam ut vero, voluptates.</p>
        <p>Adipisci at eaque est incidunt labore, laudantium nam, nihil obcaecati officiis omnis quisquam, repudiandae
            voluptatum! Ab aspernatur cum exercitationem illo in nihil nostrum quos similique sunt veritatis. Architecto
            asperiores aut consequuntur debitis dignissimos eaque eius enim error eum expedita, fugiat hic inventore
            laudantium magni nihil quae quidem recusandae sit tempore?</p>
        <p>Aliquid consectetur cum dicta dignissimos doloribus eaque earum eum, ex excepturi facilis in incidunt ipsa
            ipsam
            itaque laboriosam laborum magni maiores nihil numquam obcaecati odio optio quae quas quia quos ratione
            recusandae repellendus rerum sed sit tempora tempore tenetur ut velit veritatis voluptatem voluptatibus?
            Aliquam
            dolor exercitationem natus provident vero.</p>
    </div>

{% endblock %}