{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Editer un Bien</h1>
   {{  include ('admin/_form.html.twig', {form: form, Button: 'Editer'})}}


{% endblock %}

{% block stylesheets %}
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"/>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}